---
---

@import "{{ site.theme }}";

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 270px;
  background-color: #f1f1f1;
}

.menulink {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.menulink:hover {
  background-color: #555;
  color: white;
}
