<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        
        <div align="center">
          <h1>Immanuel Trummer</h1>
          <img src="https://github.com/itrummer/itrummer.github.io/raw/main/_includes/itrummer.png" alt="Immanuel Trummer" width="200"/>
          <p>Associate professor at Cornell (<a href="https://github.com/itrummer/itrummer.github.io/raw/main/_includes/CV.pdf">my CV</a>). I make data analysis more efficient and more user-friendly. Write me here: <a href="mailto:itrummer@cornell.edu">itrummer@cornell.edu</a>.</p>
          <p><a href="https://twitter.com/ImmanuelTrummer?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @ImmanuelTrummer</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>
        </div>
        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
        <ul class="menu">
          <li><a class="menulink" href="#projects">Projects</a></li>
          <li><a class="menulink" href="#publications">Publications</a></li>
          <li><a class="menulink" href="#funding">Funding</a></li>
          <li><a class="menulink" href="#students">Students</a></li>
          <li><a class="menulink" href="#teaching">Teaching</a></li>
        </ul>
      </header>
      <section>

      {{ content }}

      <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      
      </section>
      <!--
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
      -->
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
